{% extends 'main.html' %}


{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock styles %}


{% block content %}

{% include 'navbar.html' %}
<div class="container">


<form action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {{field.label_tag}}
    {{field}}

    {% for error in field.errors %}
    <small style="color: red">{{error}}</small>
    {% endfor %}
    
    {% endfor %}
    <input type="submit" name="" value="Add Portfolio" id="">
</form>

</div>
{% endblock content %}