<style>
.navbar {
    width: 100%;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navigation-pane {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: rgb(202, 255, 255);
    text-shadow: .5px .75px black;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}
</style>


<div class="navbar">
    <div class="brand">
        <h2>FotoMoon</h2>
    </div>
    <div class="navigation-pane">
        <a href="">Home</a>
        <a href="">Portfolio</a>
        <a href="">Gallery</a>
        <a href="">About Us</a>
        <a href="">Blog</a>
        <a href="">Packages</a>
        <a href="">Contact</a>
    </div>
    <div class="social-media">
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-youtube"></i>
    </div>
</div>