{% extends 'main.html' %}

{% block title %}Portfolios{% endblock title %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/portfolios.css' %}">
{% endblock styles %}

{% block content %}

{% include 'navbar.html' %}
<div class="container">
    <h1>Our works</h1>
    <div class="card-section">
        {% for portfolio in portfolio %}
        {% if portfolio.photo_type == 'normal' %}
        <a href="{% url 'portfolio_description' portfolio.id %}">
            <div class="card">
                <img src="{{portfolio.photo.url}}" alt="">
                <p>{{portfolio.name}}</p>
            </div>
        </a>

        {% else %}
        <a href="{% url 'portfolio_description' portfolio.id %}">
            <div class="card {{portfolio.photo_type}}">
                <img src="{{portfolio.photo.url}}" alt="">
                <p>{{portfolio.name}}</p>
            </div>
        </a>

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
