{% extends 'main.html'%}

{% block title %}Admin Login- FotoMoon{% endblock title %}


{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content%}

<div class="container">
    
    <form action="{% url 'login' %}" method="POST" id='admin-login'>
         <h2>Login </h2> <a href="{% url 'home' %}" style="text-decoration:none; color:purple"><i class="fa-solid fa-house"></i> &nbsp; Home</a>

      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" id="" placeholder="Password">
      <input type="submit" name="" id="" value="Login">
    </form>
</div>

{% endblock content %}