{% extends 'main.html' %}

{% block content %}

{% include 'navbar.html' %}


<h1>Admin Panel</h1>
<a href="{% url 'add_blogs' %}" style="color:blue ;">Manage blogs</a> <br>
<a href="{% url 'add_photo' %}" style="color:blue ;">Manage Photos</a> <br>
<a href="{% url 'manage_portfolio' %}" style="color:blue ;">Manage Portfolios</a> <br>
<a href="{% url 'add_portfolio_photo' %}" style="color:blue ">Manage Portfolios' Photos</a> <br>
<a href="{% url 'manage_packages' %}" style="color:blue ;">Manage Packages</a>

<!-- {% include 'footer.html' %}  -->

{% endblock content %}