{% extends 'main.html'%}

{% block title %}Admin Login- FotoMoon{% endblock title %}


{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content%}

<div class="container">

  <form class="default-form" method="POST" novalidate>

    <h2>Login </h2>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" id="" placeholder="Password">
      <input type="submit" name="" id="" value="Login">
    </form>
  </form>
</div>

{% endblock content %}