<style>

    * {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .footer {
        width: 100%;
        height: auto;
        background-color: rgb(24, 20, 20);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.15em;
        color: white;
    }

    .footer .social {
        display: flex;
        width: 10%;
        margin-top: .85em;
        justify-content: space-around;
    }

    .social a {
        text-decoration: none;
        text-shadow: none;
        font-size: 1.15em;
    }
    
    @media screen and (max-width:480px){
        .footer{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items :center;
            font-size:.85em;
            width:100%;
            height:auto;
            overflow:hidden;
            padding:0;
        }
        
        .footer p{
            margin :.25em 0;
        }
        
        .social{
            width :100%;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        
        .social a:not(a:last-of-type){
            margin-right:.25em;
        }
    }

    @media screen and (max-width:840px){
        
    }
</style>


<div class="footer">
    <p>&#169 2022 Fotomoon. All rights reserved.</p>
    <p>Developed by Bishal, Achyut, Sachin</p>
    <div class="social">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>