<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>

  <body>
    <div class="main-container">
      <div class="navbar">
        <i class="fa-solid fa-bars" id="open-navbar"></i>
        <i class="fa-solid fa-xmark" id="close-navbar"></i>
        <div class="brand">
          <h2>FotoMoon</h2>
        </div>
        <div class="navigation-pane">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'portfolio' %}">Portfolio</a>
          <a href="{% url 'gallery' %}">Gallery</a>
          <a href="{% url 'about_us' %}">About Us</a>
          <a href="{% url 'view_blogs' %}">Blog</a>
          <a href="{% url 'packages' %}">Packages</a>
          <a href="{% url 'contact' %}">Contact</a>
          {% if user.is_authenticated %}
          <a href="{% url 'admin_panel' %}">Admin Panel</a>
          <a href="{% url 'logout' %}" style="color: rgb(245, 89, 89)"
            >Logout</a
          >
          {% endif %} {% if not user.is_authenticated %}
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
    
    
        </div>
        <div class="social-media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    
    </div>

   
    
    {% block script %}
    <script>
      const navbar = document.querySelector(".navbar");
      const navigationPane = document.querySelector(".navigation-pane");
      const social = document.querySelector(".social-media");
      const openNavbar = document.querySelector("#open-navbar");
      const closeNavbar = document.querySelector("#close-navbar");
      openNavbar.addEventListener("click", () => {
        navbar.classList.add("mobile-navbar");
        navigationPane.classList.add("navigation-mobile");
        openNavbar.style.display = "none";
        closeNavbar.style.display = "block";
        social.classList.add("social-mobile");
      });

      closeNavbar.addEventListener("click", () => {
        navbar.classList.remove("mobile-navbar");
        navigationPane.classList.remove("navigation-mobile");
        openNavbar.style.display = "block";
        closeNavbar.style.display = "none";
        social.classList.remove("social-mobile");
      });
    </script>
    {% endblock script%}
  </body>
</html>
