* {
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    /*background-color: rgba(128, 0, 128, 0.353);*/
    /*color: white;*/
    background-image: url('../../static/images/bg.jpg');
    background-position: top;
}

.container {
    width: 80%;
    margin: 2em auto 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

input,
textarea, select {
    width: 40em;
    box-sizing: border-box;
    font-size: .9em;
    padding: .75em .75em;
    outline: none;
    margin: .35em 0;
    border-radius: .25em;
    border: none;
    background-color: rgba(206, 206, 206, 0.445);
    font: inherit;
}

input:last-of-type {
    background-color: rgb(212, 0, 255);
    color: white;
    font-weight: 600;
    text-shadow: .15em .15em grey;
    cursor: pointer;
}


@media screen and (max-width:480px){
    form{
        width:85%;
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
    
    input, textarea, select {
        width:100%;
        font-size:.9em;
    }
}