html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container  {
    width: 80%;
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.packages{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
}

.card{
   width: 20em;
   height: 20em;
   border-radius: .25em;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   pointer-events: none;
}
.card img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.card p{
    margin: .35em 0;
}

.card p:first-of-type{
    font-weight: 600;
}

.card p:not(p:first-of-type){
    color: grey;
    font-weight: 500;
}

.offers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers .card{
    margin: 0 1.5em;
}

@media screen and (max-width:480px) {
    .container{
        width: 100%;
        height: fit-content;
        padding:0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:none;
    }
    .container .packages, .container .offers{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, minmax(10em, 1fr));
        grid-gap: 1em;
        align-items: center;
        justify-content: center;
        height: fit-content;
        grid-auto-rows: 15em;
    }
    .container .packages .card, .container .offers .card{
        height: 15em;
        width: 12em;
        padding: .5em 1.5em;
        background-color: white;
        border-radius: .75em;
        box-sizing: border-box;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px !important;
    }
    .container .packages .card img{
        height: 8em!important;
        width: 10em!important;
        object-fit: cover;
    }
}

@media screen and (max-width:720px) {
    .container{
        width: 100%;
        height: fit-content;
        padding:0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:none;
    }
    .container .packages, .container .offers{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, minmax(10em, 1fr));
        grid-gap: 1em;
        align-items: center;
        justify-content: center;
        height: fit-content;
        grid-auto-rows: 15em;
    }
    .container .packages .card, .container .offers .card{
        height: 15em;
        width: 12em;
        padding: .5em 1.5em;
        background-color: white;
        border-radius: .75em;
        box-sizing: border-box;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px !important;
    }
    .container .packages .card img{
        height: 8em!important;
        width: 10em!important;
        object-fit: cover;
    }
}